**/*swp
javascript/node_modules
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
PHP.iml
de
data/romanian*
**/*class

# all the compile binaries
cpp/wordcount
cpp/wordcount_baseline
csharp/WordCountList.exe
go/bin/
haskell/WordCount
haskell/dist
rust/wordcount/wordcount

# The data-bigpack
data/huwikisource-latest-pages-meta-current.xml
huwiki-latest-pages-meta-current.xml.bz2

# Results of a compare run
results.txt
