**/*swp
javascript/node_modules
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
PHP.iml
de
data/romanian*
**/*class
clojure.jar
**/*.o
**/wordcount

# all the compile binaries
csharp/WordCountList.exe
haskell/WordCount
haskell/dist
typescript/node_modules/
typescript/typings/
typescript/wordcount.js

# The data-bigpack
data/huwiki*.xml
huwiki-latest-pages-meta-current.xml.bz2

# Results of a compare run
results.txt
